.image{
border-radius:50%;
height:400px;
margin-left:20%;
margin-top:20px;
margin-bottom:20px;
}
#part1{
	margin-top:50px;
	
}
.h1
{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.pic1{
	margin-top:60px;
	margin-left:80px;
	height:100px;
	border-radius:50%;
	
}
.pic2{
	margin-top:60px;
	margin-left:80px;
	height:100px;
	border-radius:50%;
	
}
.pic3{
	margin-top:60px;
	margin-left:80px;
	height:100px;
	border-radius:50%;
	
}
.p{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
#navBar ul{
   
    padding: 0;
    margin: 0;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}